.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
}
.form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Montserrat;
  color: #2e2f42;
}
input[name='delay'] {
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}

input[name='delay']:hover {
  border-color: #000000;
}

input[name='delay']:active {
  border-color: #4e75ff;
}

fieldset {
  display: flex;
  justify-content: center;
  border: 1px solid #808080;
  border-radius: 4px;
  gap: 48px;
  height: 64px;
  padding: 0;
}
fieldset:active,
fieldset:hover {
  border: 1px solid #000;
}
fieldset legend {
  margin-left: 28px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
}

fieldset label {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  padding-top: 8px;
}

button[type='submit'] {
  margin-top: 48px;
  padding: 10px 20px;
  font-family: Montserrat;
  font-size: 16px;
  color: white;
  max-width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

.iziToast {
  font-family: Montserrat !important;
  font-size: 16px !important;
  color: #fff !important;
}

.iziToast-success {
  background-color: #59a10d !important;
}

.iziToast-error {
  background-color: #ef4040 !important;
}
